@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: Monaco, Courier;
}

.terminal {
}

.terminal-header {
  padding: 1rem;
  background-color: #265b89;
  border: 5px solid #265b89;
  color: #fff;
}

.terminal-window {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  border: 5px solid #265b89;
}

.current-message {
  margin-left: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
}
